@font-face{
	font-family: "PlusJakartaSans";
	src("./fonts/PlusJakartaSans-VariableFont_wght.ttf") format: truetype;
}

html, body{
	margin: 0;
}

body{
	font-family: PlusJakartaSans, sans-serif;
	font-weight: 500;
	color: hsl(219, 14%, 63%);
	line-height: 1.2;

	display: flex;
	justify-content: center;
	min-height: 100vh;
}

main{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;

	max-width: 21.4375em;
}

section.notifications{
	background: #fff;
}

header{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

header h1{
	color: hsl(224, 21%, 14%);

	margin-bottom: 0.5em;
	font-weight: 800;
}

header h1.events.unread::after{
	content: "3";
	background: hsl(219, 85%, 26%);
	padding: .2em .5em 0 .5em;
	border-radius: 8px;
	margin-left: .2em;
	color: #fff;
}

header p.mark{
	margin-bottom: 0.5em;
}

header p.mark a{
	color: hsl(219, 14%, 63%);
	text-decoration: none;

	transition: .1s;
}

article{
	display: flex;
	justify-content: space-between;

	padding: 1em 0 1em 1em;
}

article.unread{
	background: hsl(210, 60%, 98%);
	border-radius: 8px;
}

article img.avatar{
	align-self: flex-start;

	width: 10%;
	max-width: 10%;
	padding-right: 1em;
	height: auto;
}

article div{
	width: 90%;
}

p.action{
	margin: 0;
}

p.action.unread::after{
	content: '';
	background: hsl(1, 90%, 64%);
	padding: 4px;
	display: inline-block;
	border-radius: 100%;
}

article div.picture{
	width: 75%;
}

article a{
	font-weight: 800;
	text-decoration: none;
	transition: .1s;
}

article a.context{
	color: hsl(219, 12%, 42%);
}

article a.group{
	color: hsl(219, 85%, 26%);
}

article a.user{
	color: hsl(224, 21%, 14%);
}

article a.context:hover, article a.group:hover, article a.user:hover, header p.mark a:hover{
	color: hsl(219, 85%, 31%);
}

article img.picture{
	width: 100%;
	max-width: 100%;
}

article a.picture{
	line-height: 0;
	padding: .3em;
	background: transparent;
	border-radius: 8px;

	max-width: 10%;
	max-height: 10%;
	transition: .1s;
}

article a.picture:hover{
	background: hsl(211, 68%, 94%);
}

p.mssgbox{
	border: 1px solid hsl(211, 68%, 94%);
	border-radius: 8px;
	cursor: pointer;

	padding: 0.75em 1em;

	transition: .2s;
}

p.mssgbox:hover{
	background: hsl(211, 68%, 94%);
}

footer{
	border-radius: 8px;
	font-size: 11px;
	text-align: center;

	background: hsl(210, 60%, 98%);
	padding: 1em;
}

footer a{
	color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 730px){
	main{
		max-width: 45.625em;
	}
}
